.messages {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.names {
    
}

.namesItem {
    padding: 10px;
}

.namesItem.active {
    color: gold;
}

.dialogs {

}

.dialogsItem {
    padding: 10px;
}